.signin{
    width: 55%;
    position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: ease 0.5s;
    z-index: 10000;
    background-color: white;
    box-shadow: 10px 15px 25px 3px #dbdada;
    -webkit-box-shadow: 10px 15px 25px 3px #dbdada;
    -moz-box-shadow: 10px 15px 25px 3px #dbdada;
    animation: movefromtop 0.7s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    &_image{
        width: 52%;
        & img{
            width: 100%;
        }
    }
    &_form{
        width: 47%;
        padding: 1rem 2rem;
        border-left:1px solid rgb(177, 173, 173) ;
        &_close{
            text-align: end;
            color: rgb(114, 111, 111);
            font-size: 0.95rem;
            cursor: pointer;
        }
        &_input{
            & h4{
                font-size: 1.2rem;
                font-family: 500;
                color: rgb(110, 106, 106);
                margin-bottom: 2.5rem;
            }
            &_item{
                position: relative;
                margin-bottom: 1.5rem;
                &_input{
                    background: none;
                    background-color: white;
                    color: grey;
                    font-size: 16px;
                    padding: 0.5rem 1.8rem;
                    width: 100%;       
                    border: 2px solid rgb(100, 96, 96);
                    border-radius: 7px;
                    &:focus{
                        outline: none;
                    }
                }
                &_label{
                    padding: 0rem 0.6rem;
                    color: rgb(78, 78, 78);
                    font-size: 13px;
                    font-weight: normal;
                    letter-spacing: 1px;
                    position: absolute;
                    pointer-events: none;
                    background-color: white;
                    left: 7px;
                    top: -10px;
                    transition: 300ms ease all;
                }
            }
            &_forgotLink{
                width: 100%;
                text-align: end;
                & a{
                    text-decoration: none;
                }
            }
            &_or{
                text-align: center;
                font-size: 0.9rem;
                color: rgb(158, 156, 156);
                margin-bottom: 1rem;
            }
            &_social{
                width: 40%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: auto;
                margin-bottom: 1.5rem;
                & a{
                    width: 45%;
                    & img{
                        width: 90%;
                    }
                }
            }
            &_loginButton{
                text-align: center;
                & button{
                    width: 60%;
                    padding: 0.6rem 2.5rem ;
                    color: white;
                    background-color: #0b06a4;
                    font-size: 1rem;
                    border-radius: 10px;
                    font-weight: bolder;
                    border: none;
                    margin-bottom: 1.5rem;
                }
            }
            &_createAccount{
                text-align: center;
                & p{
                    color: grey;
                    font-size: 0.9rem;
                    & a{
                        text-decoration: none;
                        color: red;
                    }
                }
            }
        }
    }
}

@keyframes movefromtop {
    0%{
        transform: scale(1) translate(-50% , -50%);
        opacity: 0;
    }
    1% {
        transform: scale(0.96) translate(-50% , -60%);
        opacity: 0;
      }
      100% {
        transform: scale(1) translate(-50% , -50%);
        opacity: 1;
      }
}